.App {
  text-align: center;
}

h2{
    margin-bottom: 4%;
}

.list-group-item {
    max-height: 80px;
}
h4 {
    margin-top: 2.5%;
}
h1 {
    margin-bottom: 4%;
    color: #ffc78c;
}

.btn-primary {
    min-width: 331px;
    background-color: #616977;
    border-color: white;
}

.Info {
    margin-top: 5%;

}

p {
    margin-top: 20px;
    margin-right: 40px;
}

a:hover {
    text-decoration: none;
}

.HomeButton {
    background-color: #ffc78c;
    margin-top: 30px;
}

.But {
    background-color: #ffc78c;
    margin-top: 30px;
    margin-left: 30%;
}

.form-control {
    min-width: 250px;
}
.FormBox {
    margin-left: 50%;
    position: absolute;
}
